---
import BlogGrid from '../components/BlogGrid.astro'
import BaseHead from '../components/BaseHead.astro'
import BlogHeader from '../components/BlogHeader.astro'
import BlogPostPreview from '../components/BlogPostPreview.astro'
import SectionTitle from '../components/SectionTitle.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

let title = 'soratabi.nekohack.me'
let description = 'The perfect product for your aviation blog.'
let permalink = 'https://soranchu.ninja/'

let allPosts = await Astro.glob('./posts/*.md')
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf())
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />

    <style>
      body {
        /* rgba(167, 123, 243, 0.1) */
        background: #000;
        color: #fff;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }

      img {
        padding: 0;
        margin: 0;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }

      @media(max-width: 767px) {
        img {
          width: 200px;
          height: 200px;
        }
      }
    </style>
  </head>

  <body>
    <Header>
      <BlogHeader {title} {description} />
    </Header>
    <SectionTitle title="Hobby Blog" subtitle="ブログ" />
    </div>
    <BlogGrid>
      {allPosts.map((p) => (
        <a href={p.url}>
          <BlogPostPreview imagePath={p.frontmatter.image} title={p.frontmatter.title} />
        </a>
      ))}
    </BlogGrid>
    <Footer>
      © 2021-2024 nekohack inc. some rights reserved.
    </Footer>
  </body>
</html>
